extends layout

block main
    h1 Patron: #{header}
    form(action=`/patron_detail/${patron.id}?_method=PUT` method="post") 
        include error
        p
            label(for="first_name") First Name
            input(id="first_name" type="text" name="first_name" value=patron.first_name)
        p 
            label(for="last_name") Last Name
            input(id="last_name" type="text" name="last_name" value=patron.last_name)
        p
            label(for="address") Address
            input(id="address" type="text" name="address" value=patron.address)
        p
            label(for="email") Email
            input(id="email" type="text" name="email" value=patron.email)
        p
            label(for="library_id") Library ID
            input(id="library_id" type="text" name="library_id" value=patron.library_id)
        p
            label(for="zip_code") Zip Code
            input(id="zip_code" type="text" name="zip_code" value=patron.zip_code)
        p: input( type="submit" value="Update")   
    table   
        thead
            tr
                th Book
                th Patron
                th Loaned on
                th Return by
                th Returned on
                th Action
        tbody
            each loan in loans  
                tr 
                    td: a(href=`/book_detail/${loan.book_id}`) #{loan.book_title}
                    td: a(href=`/patron_detail/${patron.id}`) #{patron.name}
                    td= loan.loaned_on
                    td= loan.return_by
                    if (loan.returned_on)
                        td= loan.returned_on
                    else 
                        td
                    if (!loan.returned_on)
                        td: a(href=`/return_book/${loan.id}` class="button") Return Book
                    else
                        td